<div class="card">
  <div class="card-body" *ngIf="thesisProposal">
    <div class="row">
      <div class="col">
        <div>
          <h5 class="text-gray-600 mt-3 mb-4 ">{{'ThesisProposal.Title' | translate }}</h5>
          <span> {{ thesisProposal | localize:['name'] }}</span>
        </div>
      </div>
    </div>
    <div class="mb-3 mt-2 d-block">
      <span class="text-secondary">{{'ThesisProposal.Instructor' | translate }}: </span>
      <span>{{ thesisProposal.instructor.givenName }} {{ thesisProposal.instructor.familyName }}</span>
      <span class="text-secondary ml-4">{{'ThesisProposal.Department' | translate }}: </span>
      <span> {{ thesisProposal?.department| localize:['name'] }}</span>
    </div>
    <div class="mb-3 mt-2 d-block">
      <span class="text-secondary" *ngIf="thesisProposal?.studyLevel">{{'ThesisProposal.StudyLevel' | translate }}:
      </span>
      <span> {{ thesisProposal?.studyLevel | localize:['name'] }}</span>
      <span class="text-secondary ml-4" *ngIf="thesisProposal?.type">{{'ThesisProposal.Type' | translate }}: </span>
      <span> {{ thesisProposal?.type | localize:['name'] }}</span>
    </div>
    <div class="mb-3 mt-2">
      <span *ngIf="thesisProposal.status" class="text-secondary">{{ 'ThesisProposal.Status' | translate }}: </span>
      <span> {{thesisProposal?.status?.name | translate}}</span>
      <span *ngIf="thesisProposal.dateCreated" class="text-secondary ml-4">{{ 'ThesisProposal.StartDate' | translate }}:
      </span>
      <span> {{thesisProposal?.dateCreated | localizedDate: 'shortDate'}}</span>
      <span *ngIf="thesisProposal.dateModified" class="text-secondary ml-4">{{ 'ThesisProposal.ModifiedDate' | translate
        }}: </span>
      <span> {{thesisProposal?.dateModified | localizedDate: 'shortDate'}}</span>
    </div>
    <div class="mb-3">
      <span class="text-secondary">{{'ThesisProposal.NumberOfStudents' | translate }}: </span>
      <span> {{ thesisProposal?.totalStudents }}</span>
    </div>
    <div class="mb-2">
      <span class="text-secondary d-block mb-2">{{'ThesisProposal.Description' | translate }}: </span>
      <span> <advanced-form-edit #formComponent [data]="thesisProposal"
          [formName]="'ThesisProposals/preview'"></advanced-form-edit></span>
    </div>
  </div>
  <div class="card-body" *ngIf="!this.thesisProposal">
    <div>{{'Requests.ThesisProposalsNotFound' | translate}}</div>
  </div>
</div>