<div class="row">
    <div class="col-sm-12">
        <div id="advanced-form">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-inline pb-1 pr-1 pl-1 pt-3 col">
                        <div class="form-group col-6">
                            <label class="pr-3" for="searchText" [translate]="'Classes.ClassTitle'"></label>
                            <input [(ngModel)]="filter.classTitle" spellcheck="false" type="text" id="searchText"
                                name="searchText" class="form-control col text-left"
                                placeholder="{{ 'Classes.ClassTitle' | translate }}">
                        </div>
                        <div class="form-group col-6">
                            <label class="pr-3" for="DisplayCode" [translate]="'Classes.DisplayCode'">Student</label>
                            <input [(ngModel)]="filter.displayCode" spellcheck="false" type="text" id="DisplayCode"
                                name="DisplayCode" class="form-control col text-left"
                                placeholder="{{ 'Classes.DisplayCode' | translate }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-inline pt-1 pb-3 pl-1 pr-1 col">
                        <div class="form-group col-xl-4 col-md-6">
                            <div class="d-flex flex-row w-100">
                                <label class="pr-3" for="searchText"
                                    [translate]="'Classes.NumberOfStudents'">Student</label>
                                <input [(ngModel)]="filter.numberOfStudents" spellcheck="false" type="number"
                                    id="searchText" name="searchText" class="form-control col text-left"
                                    placeholder="{{ 'Classes.NumberOfStudents' | translate }}">
                            </div>
                        </div>
                        <div class="form-group col-xl-4 col-md-6">
                            <most-data #academicYears [model]="'AcademicYears'" [top]="-1" [order]="'id desc'">
                            </most-data>
                            <div class="d-flex flex-row w-100" *ngIf="academicYears.value">
                                <label class="pr-3" for="academicYear" [translate]="'Classes.AcademicYear'"></label>
                                <select class="custom-select flex-grow-1" [(ngModel)]="filter.academicYear" id="academicYear" name="academicYear">
                                    <option [ngValue]="undefined" [translate]="'Classes.Choose'"></option>
                                    <option *ngFor="let item of academicYears.value" [ngValue]="item.id"
                                        [translate]="item.alternateName"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-xl-4 col-md-6">
                            <most-data #academicPeriods [model]="'AcademicPeriods'"></most-data>
                            <div class="d-flex flex-row w-100" *ngIf="academicPeriods.value">
                                <label class="pr-3" for="academicPeriod" [translate]="'Classes.Period'"></label>
                                <select class="custom-select flex-grow-1" [(ngModel)]="filter.academicPeriod" id="academicPeriod" name="academicPeriod">
                                    <option [value]="undefined" [translate]="'Classes.Choose'"></option>
                                    <option *ngFor="let item of academicPeriods.value"
                                        [value]="item.alternateName" [translate]="'Periods.' + item.alternateName">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
